<h1>
  {{ title }}
  <h1>
    <scale-tab-nav>
      <scale-tab-header slot="tab">
        <scale-icon-home-home></scale-icon-home-home> Nav1
      </scale-tab-header>
      <scale-tab-panel slot="panel">
        Nav 1 description

        <scale-tab-nav size="small">
          <scale-tab-header slot="tab">
            <scale-icon-home-home></scale-icon-home-home> SubNav1
          </scale-tab-header>
          <scale-tab-panel slot="panel">
            SubNav 1 description
          </scale-tab-panel>
          <scale-tab-header slot="tab">
            <scale-icon-home-home></scale-icon-home-home> SubNav2
          </scale-tab-header>
          <scale-tab-panel slot="panel">
            SubNav 2 description
          </scale-tab-panel>
        </scale-tab-nav>
      </scale-tab-panel>
      <scale-tab-header slot="tab">
        <scale-icon-home-home></scale-icon-home-home> Nav2
      </scale-tab-header>
      <scale-tab-panel slot="panel">
        Nav 2 description
      </scale-tab-panel>
    </scale-tab-nav>
  </h1>
</h1>